body {
  margin: 0;
  height: 100vh;
}

.body {
  background: linear-gradient(90deg, #4e54c8, #8f94fb);
  color: white;
  height: 100%;
  font-family: Karla;
  min-width: 650px;
}

.header {
  height: 120px;
  padding-top: 10px;
  padding-left: 5px;
  border-bottom: solid 1px black;
  font-size: 40px;
  min-width: 650px;
}

.subheader{
  font-size: 14px;
}

.navbar-header {
  font-size: 28px;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 120px);
}
.carousel { 
  display: none;
}

.banner {
  /*visibility: hidden;*/
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
  padding-top: 30px;
  overflow-y: auto;
}

.footer {
  width: 100%;
  background-color: black;
  height: 100px;
}

.carousel-item > img {
  height: auto;
  max-width: 700px;
}

.carousel-item {
  text-align:center;
}

.carousel-inner {
  height: 900;
}

.comment-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.comment {
  text-align:justify;
  /*margin: 20px 60px;*/
  margin-top: 30px;
  width: 70%;
}

.comment p {
  margin-bottom: 15px;
}

.comment p:only-child {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white
}

